@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  .brand-container {
    @apply container mx-auto px-5 py-5 ;
  }

  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
  h5 {
    @apply text-sm font-bold;
  }
  p {
    @apply text-sm font-normal;
  }


/* In your styles or Tailwind CSS file */
@keyframes downloadScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes downloadRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.animate-download {
  animation: downloadScale 0.5s ease-in-out, downloadRotate 1s linear;
}


}